<h2>Добро пожаловать на наш сайт!</h2>
<hr>
<p>Здесь Вы найдёте самые актуальные и выгодные предложения для Вас и Вашего бизнеса.</p>
<p>
  <% if logged_in? %>
    <%= link_to "Перейти к списку предложений.", offers_url %>
  <% else %>
    Пожалуйста, <%= link_to "войдите", new_session_url %> или <%= link_to "зарегистрируйтесь", new_user_url %>.
  <% end %>
</p>
